/* *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
} */


.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: calc(100vh - 50px);
}

.btn {
  width: 75px;
  background-color: var(--first-button-color);
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.btn:hover {
  background-color: var(--second-button-color);
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.logout-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}