.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Default light mode colors */
:root {
  --bg-color: #F3F9F8;  /* Background color */
  --text-color: #000;        /* Text color: black */
  --opposite-text-color: #FFF;
  --first-button-color: #87C0CD;
  --second-button-color: #226597;
  --alternate-bg: #072946;

}

/* Dark mode colors */
[data-theme="dark"] {
  --bg-color: #072946;  /* Background color for dark mofe */
  --text-color: #FFF;        /* Text color: White */
  --opposite-text-color: #000;
  --first-button-color: #226597;
  --second-button-color: #87C0CD;
  --dark-blue: #F3F9F8;
}
