import

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.filter {
  margin-top: 20px;
}

input[type="text"] {
  margin-top: 20px;
  border-radius: 25px / 30px; /* Rounded corners */
  width: 50%; /* Make input fill its parent width */
  height: 50px; /* Adjust height */
  font-size: 18px; /* Adjust font size */
}

.button {
  height: 50px;
  width: 50px;
  border-width: 10px;
  background-color: ;
  border-color:  var(--first-button-color);
}

.button-selected {
  border-color: var(--second-button-color);
}


